@import url(//https://fonts.googleapis.com/earlyaccess/mplus1p.css);

@import url(//https://fonts.googleapis.com/earlyaccess/hannari.css);

@font-face
{
	font-family: 'Caviar Dreams';
	src: url('caviardreams.ttf');
}

@font-face
{
	font-family: 'Caviar Dreams';
	font-weight: bold;
	src: url('caviardreams_bold.ttf');
}

html
{
	height: 100%;
}

*
{
	margin: 0;
	padding: 0;
}

.body
{
	color: white;
	visibility: scroll;
	background: #020410;
	background: url("img/bgblue_64.png");
	background: rgba(2,4,16.5), url("img/bgblue_64.png");
	background: -webkit-linear-gradient(left, rgba(0,0,0,0.9), rgba(0,0,0,0.5), rgba(0,0,0,0.1), rgba(0,0,0,0.5), rgba(0,0,0,0.9)), url("img/bgblue_64.png");
	background: linear-gradient(to right, rgba(2,4,16,0.9), rgba(2,4,16,0.5), rgba(2,4,16,0.1), rgba(2,4,16,0.5), rgba(2,4,16,0.9)), url("img/bgblue_64.png");
	background-attachment: fixed;
	margin: 0;
	padding: 0;
}

/*HEADER==================================================================*/

#header
{
	position: sticky;
	top: 0;
	padding: 20px;
	border-bottom: 10px solid #c5d8c1;
	background: #52ad9a;
	text-align: center;
	font-size: 18px;
}

#header h1
{
	font-size: 2.82em;
	font-family: Cambria, 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}

#header h2
{
	font-size: 1em;
	font-family: 'Caviar Dreams', Verdana, Geneva, sans-serif;
	color: #e6f3ea;
}

/*HEADER --> Text*/

#header h2 span:after
{
	content: "game\00a0 designer \2013  2D\00a0 artist \2013  illustrator";
}

:lang(fi) #header h2 span:after
{
	
	content: "pelisuunnittelija \2013  2D-graafikko \2013  kuvittaja";
}

/*NAVIGATION==================================================================*/

div.nav
{
	margin: auto;
	margin-top: 12px;
}

a.nav
{
	width: 140px;
	font-family: Cambria, 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
	font-size: 16px;
	font-variant: small-caps;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	color: #c5d8c1;
	padding: 3px 0px;
	vertical-align: middle;
	display: inline-block;
	transition-duration: 0.2s;
}

span.nav
{
	display: inline-block;
	position: relative;
	transition: 0.2s;
}

span.nav:before
{
	content: "\25C2\00a0";
	position: inline-block;
	top: 0;
	opacity: 0;
	transition-duration: 0.2s;
}

span.nav:after
{
	content: "\00a0\25B8";
	position: inline-block;
	top: 0;
	opacity: 0;
	transition-duration: 0.2s;
}

a.nav:hover
{
	color: white;
}

a.nav:hover span.nav:before, a.nav:hover span.nav:after
{
	opacity: 1;
}

/*NAVIGATION -->Text*/

#home:after
{
	content: "Home";
}

#portfolio:after
{
	content: "Portfolio";
}

#experience:after
{
	content: "Experience";
}

#contact:after
{
	content: "Contact";
}


:lang(fi) #home:after
{
	content: "Etusivu";
}

:lang(fi) #portfolio:after
{
	content: "Portfolio";
}

:lang(fi) #experience:after
{
	content: "Kokemus";
}

:lang(fi) #contact:after
{
	content: "Ota\00a0 yhteyttä";
}

/*CONTENT==================================================================*/

#content
{
	box-sizing: border-box;
	margin: auto;
	width: 60%;
	padding: 25px 0px;
	font-family: 'Caviar Dreams', Verdana, Geneva, sans-serif;
	font-size: 15px;
	color: #e6f3ea;
}

#content p
{
	line-height: 1.6;
	margin-bottom: 10px;
}

/*FOOTER==================================================================*/

#footer
{
	position: sticky;
	bottom: 0;
	border-top: 10px solid #c5d8c1;
	background: #52ad9a;
	padding: 20px 0px;
}

#container
{
	width: 60%;
	margin: auto;
	font-family: 'Caviar Dreams', Verdana, Geneva, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #c5d8c1;
}

div.smicon
{
	display: inline-block;
	position: absolute;
	left: o;
	width: 20%;
}

a.smicon
{
	text-decoration: none;
}

a.smicon svg
{
	height: 25px;
	width: auto;
	margin-right: 10px;
}

a.smicon svg path
{
	fill: #c5d8c1 !important;
	transition-duration: 0.2s;
}

a.smicon svg path:hover
{
	fill: white !important;
}

#copyright
{
	display: inline-block;
	position: relative;
	right: 0;
	bottom: 24px;
	margin-top: auto;
	margin-bottom: auto;
	width: 20%;
	float: right;
	font-family: 'Caviar Dreams', Verdana, Geneva, sans-serif;
	font-size: 15px;
	text-align: right;
	color: #e6f3ea;
}

/*FOOTER --> Text*/

#copyright p span:after
{
	content: "\00a9	 2018";
}

/*MEDIA QUERIES==================================================================*/

@media only screen and (max-device-width: 620px), only screen and (max-width: 620px)
{
	.body
	{
		background: url("img/bgblue_32.png");
		background: rgba(2,4,16.5), url("img/bgblue_32.png");
		background: -webkit-linear-gradient(left, rgba(0,0,0,0.9), rgba(0,0,0,0.5), rgba(0,0,0,0.1), rgba(0,0,0,0.5), rgba(0,0,0,0.9)), url("img/bgblue_32.png");
		background: linear-gradient(to right, rgba(2,4,16,0.9), rgba(2,4,16,0.5), rgba(2,4,16,0.1), rgba(2,4,16,0.5), rgba(2,4,16,0.9)), url("img/bgblue_32.png");
	}
	
	#header, #footer
	{
		position: static;
		font-size: 16px;
	}
	
	#content, #container
	{
		width: 75%;
		font-size: 13px;
	}
	
	a.nav
	{
		display: block;
		margin: auto;
	}
}

@media only screen and (max-device-height: 620px), only screen and (max-height: 620px)
{
	.body
	{
		background: url("img/bgblue_32.png");
		background: rgba(2,4,16.5), url("img/bgblue_32.png");
		background: -webkit-linear-gradient(left, rgba(0,0,0,0.9), rgba(0,0,0,0.5), rgba(0,0,0,0.1), rgba(0,0,0,0.5), rgba(0,0,0,0.9)), url("img/bgblue_32.png");
		background: linear-gradient(to right, rgba(2,4,16,0.9), rgba(2,4,16,0.5), rgba(2,4,16,0.1), rgba(2,4,16,0.5), rgba(2,4,16,0.9)), url("img/bgblue_32.png");
	}
	
	#header, #footer
	{
		position: static;
	}
	
	#content, #container
	{
		width: 75%;
		font-size: 13px;
	}
	
}