@import url(//https://fonts.googleapis.com/earlyaccess/mplus1p.css);

@import url(//https://fonts.googleapis.com/earlyaccess/hannari.css);

@font-face
{
	font-family: 'Caviar Dreams';
	src: url('caviardreams.ttf');
}

@font-face
{
	font-family: 'Caviar Dreams';
	font-weight: bold;
	src: url('caviardreams_bold.ttf');
}

html
{
	height: 100%;
}

*
{
	margin: 0;
	padding: 0;
}

body
{
	color: white;
	visibility: scroll;
	background: #020410;
	background: url("img/bgblue_64.png");
	background: rgba(2,4,16.5), url("img/bgblue_64.png");
	background: -webkit-linear-gradient(left, rgba(0,0,0,0.9), rgba(0,0,0,0.5), rgba(0,0,0,0.1), rgba(0,0,0,0.5), rgba(0,0,0,0.9)), url("img/bgblue_64.png");
	background: linear-gradient(to right, rgba(2,4,16,0.9), rgba(2,4,16,0.5), rgba(2,4,16,0.1), rgba(2,4,16,0.5), rgba(2,4,16,0.9)), url("img/bgblue_64.png");
	background-attachment: fixed;
	margin: 0;
	padding: 0;
}

#main
{
	position: relative;
	min-height: 100%;
	height: auto;
}

/*SHARED==================================================================*/

a.nav:hover, #landingpage a:hover
{
	color: white;
}

/*HEADER==================================================================*/

#header
{
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	padding-top: 1px;
	border-bottom: 10px solid #c5d8c1;
	background: #52ad9a;
	text-align: center;
	font-size: 18px;
}

#header h1
{
	font-size: 2.82em;
	font-family: Cambria, 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}

#header h2
{
	font-size: 1em;
	font-family: 'Caviar Dreams', Verdana, Geneva, sans-serif;
	color: #e6f3ea;
}

:lang(jp) #header h2/*, #navlang a:lang(jp)*/
{
	font-family: 'Mplus 1p', Meiryo , 'ＭＳ ゴシック' , 'MS Gothic' , HiraKakuProN-W3 , 'TakaoExゴシック' , TakaoExGothic , 'MotoyaLCedar' , 'Droid Sans Japanese' , sans-serif;
}

/*HEADER --> Text*/

#header h2 span:after
{
	content: "game\00a0 designer \2013  2D\00a0 artist \2013  illustrator";
}

:lang(fi) #header h2 span:after
{
	
	content: "pelisuunnittelija \2013  2D-graafikko \2013  kuvittaja";
}

:lang(jp) #header h2 span:after
{
	content: "ゲームプランナー　２Ｄデザイナー　イラストレーター";
}

/*NAVIGATION==================================================================*/

div.nav
{
	margin: auto;
	margin: 5px 0px 12px 0px;
}

a.nav
{
	/*width: 140px;*/
	font-family: Cambria, 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
	font-size: 16px;
	font-variant: small-caps;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	color: #c5d8c1;
	padding: 10px 5px;
	vertical-align: middle;
	display: inline-block;
	transition-duration: 0.2s;
}

:lang(jp) a.nav
{
	font-family: Hannari, '游明朝','游明朝体',YuMincho,'Yu Mincho' , 'ＭＳ 明朝' , 'MS Mincho' , HiraMinProN-W3 , 'TakaoEx明朝' , TakaoExMincho , 'MotoyaLCedar' , 'Droid Sans Japanese' , serif;
	font-size: 18px;
	font-variant: normal;
}

span.nav
{
	display: inline-block;
	position: relative;
	transition: 0.2s;
}

span.nav:before, #landingpage a span:before
{
	content: "\25C2\00a0";
	position: inline-block;
	top: 0;
	opacity: 0;
	transition-duration: 0.2s;
}

span.nav:after, #landingpage a span:after
{
	content: "\00a0\25B8";
	position: inline-block;
	top: 0;
	opacity: 0;
	transition-duration: 0.2s;
}

a.nav:hover span.nav:before, a.nav:hover span.nav:after, #landingpage a:hover span:before, #landingpage a:hover span:after
{
	opacity: 1;
}

/*NAVIGATION --> Language selection*/

#navlang
{
	position: block;
	margin-top: 15px;
	font-family: Cambria, 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
	font-size: 14px;
	font-variant: small-caps;
	font-weight: bold;
}

#navlang a
{
	position: inline-block;
	padding: 3px 5px;
	background: #c5d8c1;
	border-radius: 5px;
	text-decoration: none;
	color: #52ad9a;
	transition-duration: 0.2s;
}

#navlang a:hover
{
	background: white;
}

/*NAVIGATION -->Text*/

#home:after
{
	content: "Home";
}

#portfolio:after
{
	content: "Samples";
}

#experience:after
{
	content: "Experience";
}

#contact:after
{
	content: "Contact";
}


:lang(fi) #home:after
{
	content: "Etusivu";
}

:lang(fi) #portfolio:after
{
	content: "Näytteet";
}

:lang(fi) #experience:after
{
	content: "Kokemus";
}

:lang(fi) #contact:after
{
	content: "Ota\00a0 yhteyttä";
}


:lang(jp) #home:after
{
	content: "ホーム";
}

:lang(jp) #portfolio:after
{
	content: "サンプル";
}

:lang(jp) #experience:after
{
	content: "経験";
}

:lang(jp) #contact:after
{
	content: "ご連絡";
}

/*CONTENT==================================================================*/

#content
{
	box-sizing: border-box;
	margin: auto;
	margin-bottom: 10%;
	width: 60%;
	padding: 25px 0px;
	font-family: 'Caviar Dreams', Verdana, Geneva, sans-serif;
	font-size: 15px;
}

#content p
{
	line-height: 1.6;
	color: #e6f3ea;
	margin-bottom: 10px;
}

#content a:link
{
	color: #52ad9a;
}

#content a:visited
{
	color: #e8415a;
}

:lang(jp) #content
{
	font-family: 'Mplus 1p', Meiryo , 'ＭＳ ゴシック' , 'MS Gothic' , HiraKakuProN-W3 , 'TakaoExゴシック' , TakaoExGothic , 'MotoyaLCedar' , 'Droid Sans Japanese' , sans-serif;
	font-size: 16px;
}

:lang(jp) #content p
{
	line-height: 2;
	margin-bottom: 5px;
}

:lang(jp) #content p span:lang(en), :lang(jp) #content p span:lang(fi)
{
	font-family: 'Caviar Dreams', Verdana, Geneva, sans-serif;
}

:lang(jp) #content u
{
	text-decoration: none;
	border-bottom: 2px dotted #e6f3ea;
	border-bottom: 2px dotted #e6f3eac8;
}

#homeContent
{
	box-sizing: border-box;
	display: relative;
	margin: auto;
	margin: 50px 0px;
}

#homeContent img
{
	display: block;
	min-width: 150px;
	max-width: 40%;
	height: auto;
	float: right;
	margin: 0px 0px 50px 50px;
	border-radius: 50%;
	/*border: 5px solid #e8415a;*/
}

h3
{
	font-family: Cambria, 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
	font-size: 1.25em;
	color: #e8415a;
	background: #e6f3ea;
	background: -webkit-linear-gradient(left, #e6f3eaff, #e6f3ea00);
	background: linear-gradient(to right, #e6f3eaff, #e6f3ea00);
	padding: 10px;
	margin: 10px 0px;
	border-left: 15px solid #52ad9a;
}

ul
{
	color: #e8415a;
	padding: 10px 0px 10px 20px;
}

/*FOOTER==================================================================*/

#footer
{
	position: fixed;
	bottom: 0;
	width: 100%;
	border-top: 10px solid #c5d8c1;
	background: #52ad9a;
	padding: 20px 0px;
}

#container
{
	width: 60%;
	margin: auto;
	font-family: 'Caviar Dreams', Verdana, Geneva, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #c5d8c1;
}

div.smicon
{
	display: inline-block;
	position: absolute;
	left: o;
	width: 20%;
}

a.smicon
{
	text-decoration: none;
}

a.smicon svg
{
	height: 25px;
	width: auto;
	margin-right: 10px;
}

a.smicon svg path
{
	fill: #c5d8c1 !important;
	transition-duration: 0.2s;
}

a.smicon svg path:hover
{
	fill: white !important;
}

#copyright
{
	display: inline-block;
	position: relative;
	right: 0;
	bottom: 24px;
	margin-top: auto;
	margin-bottom: auto;
	width: 20%;
	float: right;
	font-family: 'Caviar Dreams', Verdana, Geneva, sans-serif;
	font-size: 15px;
	text-align: right;
	color: #e6f3ea;
}

/*FOOTER --> Text*/

#copyright p span:after
{
	content: "\00a9 2018";
}

/*LANDING PAGE==================================================================*/

#landingcontainer
{
	display: table;
	position: absolute;
	height: 100%;
	width: 100%;
}

#landingpage
{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-family: Cambria, 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
	font-size: 30px;
	font-variant: small-caps;
	font-weight: bold;
}

#landingpage a
{
	text-decoration: none;
	color: #c5d8c1;
	padding: 3px 0px;
	vertical-align: middle;
	display: block;
	transition-duration: 0.2s;
}

#landingpage a:lang(jp), #langnav a:lang(jp)
{
	font-family: Hannari, '游明朝','游明朝体',YuMincho,'Yu Mincho' , 'ＭＳ 明朝' , 'MS Mincho' , HiraMinProN-W3 , 'TakaoEx明朝' , TakaoExMincho , 'MotoyaLCedar' , 'Droid Sans Japanese' , serif;
}


/*MEDIA QUERIES==================================================================*/

@media only screen and (max-device-width: 540px), only screen and (max-width: 540px)
{
	body
	{
		background: url("img/bgblue_32.png");
		background: rgba(2,4,16.5), url("img/bgblue_32.png");
		background: -webkit-linear-gradient(left, rgba(0,0,0,0.9), rgba(0,0,0,0.5), rgba(0,0,0,0.1), rgba(0,0,0,0.5), rgba(0,0,0,0.9)), url("img/bgblue_32.png");
		background: linear-gradient(to right, rgba(2,4,16,0.9), rgba(2,4,16,0.5), rgba(2,4,16,0.1), rgba(2,4,16,0.5), rgba(2,4,16,0.9)), url("img/bgblue_32.png");
	}
	
	#header, #footer
	{
		position: static;
		font-size: 16px;
	}
	
	#content, #container
	{
		width: 75%;
		font-size: 13px;
		margin-bottom: 25px;
	}
	
	a.nav
	{
		display: block;
		margin: auto;
	}
	
	a.nav:not(#home)
	{
		padding: 0px 0px 5px 0px;
	}
}

@media only screen and (max-device-height: 620px), only screen and (max-height: 620px)
{
	body
	{
		background: url("img/bgblue_32.png");
		background: rgba(2,4,16.5), url("img/bgblue_32.png");
		background: -webkit-linear-gradient(left, rgba(0,0,0,0.9), rgba(0,0,0,0.5), rgba(0,0,0,0.1), rgba(0,0,0,0.5), rgba(0,0,0,0.9)), url("img/bgblue_32.png");
		background: linear-gradient(to right, rgba(2,4,16,0.9), rgba(2,4,16,0.5), rgba(2,4,16,0.1), rgba(2,4,16,0.5), rgba(2,4,16,0.9)), url("img/bgblue_32.png");
	}
	
	#header, #footer
	{
		position: static;
	}
	
	#content, #container
	{
		width: 75%;
		font-size: 13px;
	}
}


@media only screen and (max-device-width: 800px), only screen and (max-width: 800px)
{
	#homeContent img
	{
		float: none;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 25px;
	}
}