@import url(//https://fonts.googleapis.com/earlyaccess/mplus1p.css);

@import url(//https://fonts.googleapis.com/earlyaccess/hannari.css);

@font-face
{
	font-family: 'Caviar Dreams';
	font-weight: normal;
	src: url('caviardreams.ttf');
}

@font-face
{
	font-family: 'Caviar Dreams';
	font-weight: bold;
	src: url('caviardreams_bold.ttf');
}

html
{
	height: 100%;
}

*
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root
{
	--ff_serif: Cambria, 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
	--ff_sans: 'Caviar Dreams', Verdana, Geneva, sans-serif;
	--ff_serif_jp: Hannari, '游明朝','游明朝体',YuMincho,'Yu Mincho' , 'ＭＳ 明朝' , 'MS Mincho' , HiraMinProN-W3 , 'TakaoEx明朝' , TakaoExMincho , 'MotoyaLCedar' , 'Droid Sans Japanese' , serif;
	--ff_sans_jp: 'Mplus 1p', Meiryo , 'ＭＳ ゴシック' , 'MS Gothic' , HiraKakuProN-W3 , 'TakaoExゴシック' , TakaoExGothic , 'MotoyaLCedar' , 'Droid Sans Japanese' , sans-serif;
	--clr_main: #52ad9a;
	--clr_main_calc: 82,173,154;
	--clr_light: #c5d8c1;
	--clr_dark: #020410;
	--clr_accent: #e8415a;
}

body
{
	color: white;
	visibility: scroll;
	background: var(--clr_dark);
	background: url("img/bgblue_64.png");
	background: rgba(2,4,16,0.7), url("img/bgblue_64.png");
	background: -webkit-linear-gradient(left, rgba(2,4,16,0.9), rgba(2,4,16,0.7), rgba(2,4,16,0.5), rgba(2,4,16,0.7), rgba(2,4,16,0.9)), url("img/bgblue_64.png");
	background: linear-gradient(to right, rgba(2,4,16,0.9), rgba(2,4,16,0.7), rgba(2,4,16,0.5), rgba(2,4,16,0.7), rgba(2,4,16,0.9)), url("img/bgblue_64.png");
	background-attachment: fixed;
	margin: 0;
	padding: 0;
}

#main
{
	position: relative;
	min-height: 100%;
	height: auto;
}

/*SHARED==================================================================*/

a.nav:hover, #landingPage a:hover
{
	color: white;
}

/*HEADER==================================================================*/

#header
{
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	padding-top: 1px;
	z-index: 998;
	border-bottom: 10px solid var(--clr_light);
	background: var(--clr_main);
	text-align: center;
	font-size: 18px;
}

#header h1
{
	font-size: 2.82em;
	font-family: var(--ff_serif);
	font-variant: small-caps;
}

#header h2
{
	font-size: 1em;
	font-family: var(--ff_sans);
	color: #e6f3ea;
}

:lang(jp) #header h2
{
	font-family: var(--ff_sans_jp);
}

/*HEADER --> Text*/

#header h2 span:after
{
	content: "graphic\00a0 designer \2013  illustrator \2013  game\00a0 designer";
}

:lang(fi) #header h2 span:after
{
	
	content: "graafinen\00a0 suunnittelija \2013  kuvittaja \2013  pelisuunnittelija";
}

:lang(jp) #header h2 span:after
{
	content: "グラフィックデザイナー　イラストレーター　ゲームプランナー";
}

/*NAVIGATION==================================================================*/

#navigationBar
{
	margin: auto;
	margin: 5px 0px 12px 0px;
}

a.nav
{
	font-family: var(--ff_serif);
	font-size: 16px;
	font-variant: small-caps;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	color: #e6f3ea;
	padding: 10px 5px;
	vertical-align: middle;
	display: inline-block;
	transition-duration: 0.2s;
}

:lang(jp) a.nav
{
	font-family: var(--ff_serif_jp);
	font-size: 18px;
	font-variant: normal;
}

span.nav
{
	display: inline-block;
	position: relative;
	transition: 0.2s;
}

span.nav:before, #landingPage a span:before
{
	content: "\25C2\00a0";
	position: inline-block;
	top: 0;
	opacity: 0;
	transition-duration: 0.2s;
}

span.nav:after, #landingPage a span:after
{
	content: "\00a0\25B8";
	position: inline-block;
	top: 0;
	opacity: 0;
	transition-duration: 0.2s;
}

a.nav:hover span.nav:before, a.nav:hover span.nav:after, #landingPage a:hover span:before, #landingPage a:hover span:after
{
	opacity: 1;
}

/*NAVIGATION --> Language selection*/

#navlang
{
	position: block;
	margin-top: 15px;
	font-family: var(--ff_serif);
	font-size: 14px;
	font-variant: small-caps;
	font-weight: bold;
}

#navlang[lang="jp"]
{
	font-family: var(--ff_serif_jp);
}

#navlang a
{
	position: inline-block;
	padding: 3px 5px;
	background: var(--clr_light);
	border-radius: 5px;
	text-decoration: none;
	color: var(--clr_main);
	transition-duration: 0.2s;
}

#navlang a:hover
{
	background: white;
}

/*CONTENT==================================================================*/

#content
{
	box-sizing: border-box;
	margin: auto;
	margin-bottom: 100px;
	width: 60%;
	padding: 25px 0px;
	font-family: var(--ff_sans);
	font-size: 15px;
}

#content p
{
	line-height: 1.6;
	color: white;
	margin-bottom: 10px;
}

#content b
{
	text-shadow: 0px 1px 1px var(--clr_main);
}

#content a:link
{
	color: var(--clr_main);
}

#content a:visited
{
	color: var(--clr_accent);
}

:lang(jp) #content
{
	font-family: var(--ff_sans_jp);
	font-size: 16px;
}

:lang(jp) #content p
{
	line-height: 2;
	margin-bottom: 5px;
}

:lang(jp) #content p span[lang="en"], :lang(jp) #content p span[lang="fi"], :lang(jp) #content a[lang="en"], :lang(jp) #content a[lang="fi"], :lang(jp) #expSoftware li p
{
	font-family: var(--ff_sans);
}

:lang(jp) #content b
{
	font-weight: bolder;
	color: var(--clr_light);
}

#homeContent, #contactContent
{
	box-sizing: border-box;
	display: relative;
	margin: auto;
	margin: 50px 0px;
}

#homeContent img
{
	display: block;
	min-width: 200px;
	max-width: 40%;
	height: auto;
	float: right;
	margin: 0px 0px 50px 50px;
	border-radius: 50%;
}

#homeContent svg
{
	display: block;
	height: 75px;
	width: auto;
	padding-top: 20px;
}

#homeContent svg path
{
	fill: var(--clr_light);
}

#expSoftware
{
	display: flex;
	margin: 22px 0px;
}

#expSoftware div
{
	flex-grow: 1;
	background: rgba(0,0,0,0.5);
	border: 2px solid var(--clr_main);
	border-left: none;
}

#expSoftware div:nth-of-type(1)
{
	border-left: 2px solid var(--clr_main);
}

#expSoftware ul
{
	padding-left: 28px;
}

h3
{
	font-family: var(--ff_serif);
	font-size: 1.25em;
	font-variant: small-caps;
	color: white;
	background: var(--clr_main);
	background: rgba(var(--clr_main_calc),0.75);
	padding: 10px 13px;
	border-left: 15px solid var(--clr_light);
}

#contactContent h3
{
	border: none;
}

h4, label, h5
{
	font-family: var(--ff_serif);
	font-size: 1.10em;
	font-variant: small-caps;
	font-weight: bold;
}

#expSoftware h4
{
	background: rgba(var(--clr_main_calc),0.25);
	padding: 15px 0px;
	text-align: center;
	border-bottom: 2px solid var(--clr_main);
	color: white;
}

#expSoftware h4 span:before
{
	content: "\25C2\00a0";
	color: var(--clr_main);
}

#expSoftware h4 span:after
{
	content: "\00a0\25B8";
	color: var(--clr_main);
}

:lang(jp) h3, :lang(jp) h4, :lang(jp) label, :lang(jp) h5
{
	font-family: var(--ff_serif_jp);
}

:lang(jp) h3 span[lang="en"], :lang(jp) h3 span[lang="fi"], :lang(jp) h4 span[lang="en"], :lang(jp) h4 span[lang="fi"], :lang(jp) h5 span[lang="en"], :lang(jp) h5 span[lang="fi"]
{
	font-family: var(--ff_serif);
}

ul
{
	color: var(--clr_main);
	padding: 10px 0px 10px 20px;
}

/*CONTENT --> Contact form================================================*/

.formCategory
{
	background: #00000033;
	padding: 10px 15px 2px 15px;
	box-sizing: border-box;
	border-top: 5px solid var(--clr_main);
}

form  .formCategory:nth-of-type(1)
{
	border-top: 5px solid var(--clr_light);
}

input[type=text], textarea
{
	width: 100%;
	background: none;
	padding: 12px;
	margin-top: 6px;
	margin-bottom: 16px;
	display: block;
	border: none;
	color: #e6f3ea;
}

textarea
{
	height: 300px;
	resize: vertical;
}

input[type=submit]
{
	width: 100%;
	height: auto;
	background: var(--clr_accent);
	border: none;
	color: white;
	font-family: var(--ff_serif);
	font-size: 1.2em;
	font-variant: small-caps;
	font-weight: bold;
	box-sizing: border-box;
	padding: 15px;
	transition-duration: 0.5s;
}

:lang(jp) input[type=submit]
{
	font-family: var(--ff_serif_jp);
}

input[type=submit]:hover
{
	background: white;
	color: var(--clr_accent);
}

/*CONTENT --> Gallery================================================*/

.galleryContainer
{
	display: grid;
	display: -webkit-grid;
	width: 100%;
	grid-template-columns: auto auto auto;
	-webkit-grid-template-columns: auto auto auto;
	grid-gap: 10px;
	-webkit-grid-gap: 10px;
	justify-content: space-evenly;
	text-align: center;
	padding: 10px;
	background-color: rgba(0,0,0,0.5);
}

.galleryContainer a
{
	display: flex;
	align-items: center;
	text-decoration: none;
	margin: 0;
}

.thumbnail
{
	max-width: 100%;
	height: auto;
	transition: 0.2s;
	filter: brightness(50%);
	padding: 0;
}

.thumbnail > img
{
	padding: 0;
}

.thumbnail:hover
{
	filter: brightness(100%);
	box-shadow: 0 0 5px var(--clr_light);
}

.lightbox
{
	display: flex;
	justify-content: center;
	align-items: center;
	outline: none;
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.75);
	text-decoration: none;
}

.lightbox_content
{
	display: flex;
}

.lightbox_content_img
{
	display: flex;
	justify-content: center;
	width: calc(100vw - 40px);
	height: calc(100vh - 40px);
	flex-direction: column;
}

.lightbox_content_img img
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	z-index: 1000;
	padding-bottom: 5px;
}

.lightbox_content_previous, .lightbox_content_next
{
	display: flex;
	position: fixed;
	height: 75px;
	width: auto;
	text-decoration: none;
	filter: drop-shadow(0 0 5px black);
	opacity: 0.5;
	transition-duration: 0.2s;
}

.lightbox_content_previous
{
	left: 1vw;
	z-index: 1001;
}

.lightbox_content_next
{
	right: 1vw;
	z-index: 1002;
}

.lightbox_content_exit
{
	display: flex;
	position: fixed;
	width: 50px;
	height: 50px;
	top: 1vmin;
	right: 1vmin;
	z-index: 1003;
	text-decoration: none;
	opacity: 0.5;
	filter: drop-shadow(0 0 5px black);
	transition-duration: 0.2s;
}

.lightbox_content svg
{
	width: 40px;
	height: auto;
}

.lightbox_content_exit > svg path
{
	fill: var(--clr_main);
}

.lightbox_content_previous svg path, .lightbox_content_next svg path
{
	fill: var(--clr_main);
}

.lightbox_content_exit:hover, .lightbox_content_previous:hover, .lightbox_content_next:hover
{
	opacity: 1;
	transform: scale(1.1,1.1);
}

.v-center
{
	align-items: center !important;
}

.h-center
{
	text-align: center !important;
	justify-content: center !important;
}

/*FOOTER==================================================================*/

#footer
{
	position: fixed;
	bottom: 0;
	width: 100%;
	border-top: 10px solid var(--clr_light);
	background: var(--clr_main);
	padding: 20px 0px;
}

#container
{
	width: 60%;
	margin: auto;
	font-family: var(--ff_sans);
	font-size: 1.2em;
	font-weight: bold;
	color: var(--clr_light);
}

div.smicon
{
	display: inline-block;
	position: absolute;
	left: 0;
	width: 20%;
}

a.smicon
{
	text-decoration: none;
}

a.smicon svg
{
	height: 25px;
	width: auto;
	margin-right: 10px;
}

a.smicon svg path
{
	fill: var(--clr_light) !important;
	transition-duration: 0.2s;
}

a.smicon:hover svg path
{
	fill: white !important;
}

#copyright
{
	display: inline-block;
	position: relative;
	right: 0;
	bottom: 24px;
	margin-top: auto;
	margin-bottom: auto;
	width: 20%;
	float: right;
	font-family: var(--ff_sans);
	font-size: 1em;
	text-align: right;
	color: #e6f3ea;
}

/*FOOTER --> Text*/

#copyright p span:after
{
	content: "\00a9 2019";
}

/*LANDING PAGE==================================================================*/

#landingContainer
{
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	height: 100%;
	width: 100%;
}

#landingPage
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-family: var(--ff_serif);
	font-size: 30px;
	font-variant: small-caps;
	font-weight: bold;
}

#landingPage a
{
	display: block;
	text-decoration: none;
	color: var(--clr_light);
	padding: 3px 0px;
	vertical-align: middle;
	display: block;
	transition-duration: 0.2s;
}

#landingPage a[lang="jp"], #langnav a[lang="jp"]
{
	font-family: var(--ff_serif_jp);
}


/*MEDIA QUERIES==================================================================*/

@media only screen and (max-device-width: 800px), only screen and (max-width: 800px)
{
	body
	{
		background: url("img/bgblue_32.png");
		background: rgba(2,4,16,0.5), url("img/bgblue_32.png");
		background: -webkit-linear-gradient(left, rgba(2,4,16,0.9), rgba(2,4,16,0.7), rgba(2,4,16,0.5), rgba(2,4,16,0.7), rgba(2,4,16,0.9)), url("img/bgblue_32.png");
		background: linear-gradient(to right, rgba(2,4,16,0.9), rgba(2,4,16,0.7), rgba(2,4,16,0.5), rgba(2,4,16,0.7), rgba(2,4,16,0.9)), url("img/bgblue_32.png");
	}
	
	#header, #footer
	{
		position: static;
		font-size: 16px;
	}
	
	#content, #container
	{
		width: 75%;
		margin-bottom: 25px;
	}
	
	#homeContent img
	{
		float: none;
		margin-bottom: 25px;
	}
	
	#homeContent img, #homeContent svg
	{
		margin-left: auto;
		margin-right: auto;
	}
	
	.galleryContainer
	{
		grid-template-columns: auto auto;
		-webkit-grid-template-columns: auto auto;
	}
}

@media only screen and (max-device-height: 800px), only screen and (max-height: 800px)
{
	body
	{
		background: url("img/bgblue_32.png");
		background: rgba(2,4,16,0.5), url("img/bgblue_32.png");
		background: -webkit-linear-gradient(left, rgba(2,4,16,0.9), rgba(2,4,16,0.7), rgba(2,4,16,0.5), rgba(2,4,16,0.7), rgba(2,4,16,0.9)), url("img/bgblue_32.png");
		background: linear-gradient(to right, rgba(2,4,16,0.9), rgba(2,4,16,0.7), rgba(2,4,16,0.5), rgba(2,4,16,0.7), rgba(2,4,16,0.9)), url("img/bgblue_32.png");
	}
	
	#header, #footer
	{
		position: static;
	}
}


@media only screen and (max-device-width: 600px), only screen and (max-width: 600px)
{
	#navigationBar
	{
		display: grid;
		display: -webkit-grid;
		grid-template-columns: auto auto;
		-webkit-grid-template-columns: auto auto;
		justify-content: center;
	}
	
	a.nav:not(#home)
	{
		padding: 0px 0px 5px 0px;
	}
	
	#expSoftware
	{
		flex-direction: column;
	}
	
	#expSoftware div
	{
		border: 2px solid var(--clr_main);
		border-top: none;
	}
	
	#expSoftware div:nth-of-type(1)
	{
		border-top: 2px solid var(--clr_main);
	}
	
	.galleryContainer
	{
		grid-template-columns: auto;
		-webkit-grid-template-columns: auto;
	}
}

@media (hover: none)
{
	.thumbnail
	{
		filter: brightness(100%);
	}
}

@media \0screen\,screen\9, screen and (min-width:0\0) and (min-resolution: +72dpi) /* INTERNET EXPLORER */
{
    #safety, #landingPage
	{
		display: none;
	}
	
	#main:after, #landingContainer:after
	{
		display: block;
		text-align: center;
		font-size: 25px;
		margin-top: 50px;
		white-space: pre;
		content: "Internet Explorer is unfortunately not supported on this site. \A Please use a more supported browser, such as Firefox, Chrome, or Opera. \A \A Internet Exploreria ei valitettavasti tueta tällä sivustolla. \A Ole hyvä ja käytä tuetumpaa selainta, kuten Firefoxia, Chromea tai Operaa. \A \A 残念ながら、「Internet Explorer」はこのサイトで支えられません。 \A 支えられている方のブラウザーは、「Firefox」、「Chrome」、「Opera」をはじめ、使ってください。";
	}
}